---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {{ page.title }}
    </h1>
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
  </header>

  <article>
    <div class="projects">
      {% for project in site.data.random_projects %}
        <div class="card mt-3 p-3">
          <h3 class="card-title font-weight-medium">{{ project.title }}</h3>
          <p>{{ project.description }}</p>
          {% if project.pdf %}
            <a 
              href="{{ project.pdf | prepend: 'assets/pdf/' | relative_url }}" 
              target="_blank" 
              rel="noopener noreferrer" 
              class="float-right"
            >
              <i class="fa-solid fa-file-pdf"></i> View PDF
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </article>
</div>
